.button {
	border-radius: 15px;
	display: inline-block;
	margin: 3px;
}

.button:hover {
	cursor: pointer;
}

.highlight {
	background-color: #252525;
}

p {
	margin-left: 14px;
	margin-right: 14px;

	margin-top: 4px;
	margin-bottom: 4px;

	text-align: center;
	display: inline-block;
}
